@use "../abstract/" as *;
@use "../base/" as *;

.contactSocial{

    &__wrapper{
        display: flex;
        justify-content: center;
        gap: 5rem;

        
    }

    &__socials{
        display: flex;
        justify-content: center;

        
          @include mediaQuery(520px){
            padding: 5rem 0;
            gap: 5rem;
            display: flex;
            flex-direction: column
        }
       
        
      li{
        @include centerAll;
        margin-left: 3rem;
        
      }
      p{
        @include centerAll;
        margin-left: 3rem;
         font-size: 1rem;
        
      }
      
      i{
        color: $clr--secondary;
        font-size: 2rem;
      }
    }
}

.contactMap{
    &__wrapper{
        @include centerAll;

        iframe{
            border-radius: 2rem;
            width: 50rem;
            height: 30rem;
             margin-left: 3rem;
        }

          @include mediaQuery(520px){
           display: none;
        }
    }
}

.contactInfo{
    &__wrapper{
        @include centerAll;

    }

    &__info{
        
        display: flex;
        flex-direction: column;
        width: 60rem;
        height: 45rem;
        margin: 0 auto;
         @include mediaQuery(520px){
            width: 100%;
            padding: 0;
        }
        

        h4{
            font-size: 2rem;
        }

        form{
            
            padding: 2rem;

        }
        .contactInfo__button{
            text-align: center;
            letter-spacing: .1rem;
           
        }

        input{
            background-color: transparent;
            border: 1px solid $clr--light;
            width: 98%;
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: .5rem;
            gap: 2rem;
        }
        textarea{
            @extend input;
            height: 10rem;
            margin-bottom: 3rem;
        }

   
} 
 &__name{
        @include between;
       
        input{
            
            border: 1px solid $clr--light;
            width: 27rem;
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: .5rem;

             @include mediaQuery(520px){
            width: 8rem;
            
        }
        }
    }  
}
