@use "../abstract/" as *;
@use "../base/" as*;

.menuCuisine{
    &__wrapper{
         @include evenGrid(2, 1rem);
          justify-items: center;
          margin-bottom: 5rem;
        
            @include mediaQuery(520px){
            grid-template-columns: 1fr;

            img{
                
                height: 10rem;
            }
        }
       
    }

    &__img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30rem;
      
        img{
            border-radius: 3rem;
        }
    }

}
